@page
@using PetGame.Pages
@using PetGame
@model IndexModel
@{
    Layout = "~/Pages/_Layout.cshtml";
    ViewBag.Title = "Home";
    int lastIndex = 0;
}
@if (Model.CurrentUser != null)
{
    <h1>Hello @Model.CurrentUser.Username (@Model.CurrentUser.UserId)</h1>

    <div class="pets-container">
        <!-- https://stackoverflow.com/a/4337706 -->
        @foreach (var x in Model.Pets.Select((value, index) => new { value, index }))
        {
            <a class="div-link pet-box pet-@x.index" href="/pet/@x.value.Pet.PetId">
                <div class="pet-name">@x.value.Pet.Name</div>
                @if (x.value.Pet.IsDead)
                {
                    <img class="pet-image" src="~/img/pets/dead.png" alt="Picture of @x.value.Pet.Name (dead)" />
                }
                else
                {
                    <img class="pet-image" src="/api/Image/@x.value.Pet.PetImageId" alt="Picture of @x.value.Pet.Name" />
                }
                <div class="pet-label">Status:</div>
                <div class="pet-label hunger">
                    @(x.value.Hunger * 100)
                </div>
                <div class="pet-label happy">
                    @(x.value.Happiness * 100)
                </div>
            </a>
            lastIndex = x.index + 1;
        }
        @if (lastIndex < 3)
        {
            <a class="div-link pet-box new-pet pet-@lastIndex" href="/AddPet">
                <div class="pet-name">New Pet</div>
                <img class="pet-image" src="~/img/pets/mysterypet.png" alt="Add a new pet." />
            </a>
        }
    </div>
}
else
{
    <h1><a href="login">Please Sign In</a></h1>
    <img class="landing-logo" src="~/img/logo_full.png" alt="Logo for PGTRTKD3000DGOTY (tm)" /> 
}
<h2>
    Debug Links:
</h2>
<ul>
    <li>
        <a href="/api/pet/1">API Example #1</a>
    </li>
    <li>
        <a href="/api/pet">API Example #2</a>
    </li>
    <li>
        <a href="login">Login Page</a>
    </li>
    <li>
        <a href="/api/leaderboard">[debug] Leaderboard</a>
    </li>
    <li>
        <a href="PetTester">[debug] Pet API Tester</a>
    </li>
    <li>
        <a href="/leaderboard">Leaderboard</a>
    </li>
        <a href="Race">Race Page</a>
    </li>
</ul>
