@page "/pet/{id}/race"
@using PetGame.Pages
@model RaceModel
@{
    Layout = "~/Pages/_Layout.cshtml";
    ViewBag.Title = "Race";
}

<script type="text/javascript">
    const petid = @Model.CurrentPet.PetId;
    const petimageid = @Model.CurrentPet.PetImageId;
    const endurance = @Model.CurrentPet.Endurance;
    const strength = @Model.CurrentPet.Strength;
</script>

<h1>
    Race with @Model.CurrentPet.Name (@Model.CurrentPet.PetId)!
</h1>
<h2>
    Spam the Race button to race!
</h2>

<div id="before-race" class="before-wrapper">
    <h1 id="countdowntext" class="display-2 text-center text-success countdown" style="display: none !important;">Race begins in..</h1>
    <button class="btn btn-primary btn-lg" id="start-race">Start!</button>
</div>

<div id="after-race" style="display: none;">
    <h1 class="display-1 text-success text-center">Congratulations!</h1>
    <h2 class="display-3">
        @Model.CurrentPet.Name completed the race with a score of:
    <span class="text-info" id="final-score">????</span>
</h2>
</div>

<div id="during-race" style="display: none;">
    <canvas id="race-canvas" width="600" height="500"></canvas>
    <div class="button-wrapper">
        <button class="btn btn-primary btn-lg btn-block" id="race-button">Dash!</button>
    </div>
</div>

<script src="~/scripts/race.js" type="text/javascript"></script>
